*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0
}
ul, li {
	list-style: none;
}
.btn-numbox li {
	float: left;
}
.btn-numbox {
	overflow: hidden;
	margin: 0 -50px 0 0;
}
.btn-numbox .num-jian, .input-num, .num-jia {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 10px;
	color: #999;
	cursor: pointer;
	border: 1px solid #e6e6e6;
}
.btn-numbox .input-num{
	width: 30px;
	height: 20px;
	color: #333;
	border-left: 0;
	border-right: 0;
}