<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foxboro.dao.qds.ProductTestDao">
	
	<!-- 按条件查询QDS测试产品 -->
	<select id="getQProTest" resultType="QdsProductTest" parameterType="QdsProductTest">
		SELECT *,(SELECT realname FROM users WHERE id=t.testBy) AS realname,
				 (select errorCodeId from qdsProductError where qdsProductTestId=t.id) as errorCodeId,
				 (select remark from qdsProductError where qdsProductTestId=t.id) as remark
		FROM qdsProductTest t 
		WHERE t.qdsProCategoryId=#{qdsProCategoryId}
		<if test="moduleNo!=null and moduleNo!=''">and t.moduleNo like concat ('%',#{moduleNo},'%')</if>
		<if test="realname!=null and realname!=''">AND t.testBy IN (SELECT id FROM users WHERE realname LIKE CONCAT ('%',#{realname},'%'))</if>
		<if test="dateStart!=null and dateEnd!=null and dateStart!='' and dateEnd!=''">
		and DATE_FORMAT(t.testTime,'%Y-%m-%d') BETWEEN #{dateStart} AND #{dateEnd}
		</if>
		order by id desc limit #{beginNo},#{pageSize}
	</select>
	
	<!-- 按条件查询QDS测试产品总数 -->
	<select id="getQProTestCount" resultType="int" parameterType="QdsProductTest">
		select count(*) from qdsProductTest t where t.qdsProCategoryId=#{qdsProCategoryId}
		<if test="moduleNo!=null and moduleNo!=''">and t.moduleNo like concat ('%',#{moduleNo},'%')</if>
		<if test="realname!=null and realname!=''">AND t.testBy IN (SELECT id FROM users WHERE realname LIKE CONCAT ('%',#{realname},'%'))</if>
		<if test="dateStart!=null and dateEnd!=null and dateStart!='' and dateEnd!=''">
		and DATE_FORMAT(t.testTime,'%Y-%m-%d') BETWEEN #{dateStart} AND #{dateEnd}
		</if>
	</select>
	
	<!-- 新增测试数据 -->
	<insert id="addTestData" parameterType="QdsProductTest">
		insert into qdsProductTest value (null,#{moduleNo},#{testCode},#{testStatus},#{status},#{testResult},#{testBy},#{testTime},#{testEquipment},#{testDiscription},#{errorStatus},#{qdsProCategoryId})
	</insert>
	
	<!-- 根据moduleNo查询最后一条记录是否为PASS -->
	<select id="isTestPassAtTheEnd" resultType="String">
		select testResult from qdsProductTest 
		where qdsProCategoryId=#{qdsProCategoryId} and moduleNo=#{moduleNo} ORDER BY testTime desc LIMIT 1
	</select>
	
	<!-- 根据moduleNo查询是否有记录为FAIL -->
	<select id="isTestFailedByModuleNo" resultType="int">
		select count(*) from qdsProductTest 
		where qdsProCategoryId=#{qdsProCategoryId} and moduleNo=#{moduleNo}	and testResult='F'
	</select>
	
	<!-- 设置PASS产品最后1条FAIL的记录的errorStauts为1，表示有维修记录待输入 -->
	<update id="updateErrorStatusAtTheEnd">
		UPDATE qdsProductTest SET errorStatus=1 
		WHERE qdsProCategoryId=#{qdsProCategoryId} AND moduleNo=#{moduleNo} and testResult='F' ORDER BY id DESC LIMIT 1
	</update>
	
	<!-- 根据id修改errorStatus -->
	<update id="updateProductTestById">
		update qdsProductTest set errorStatus=#{errorStatus} 
		where qdsProCategoryId=#{qdsProCategoryId} and testResult='F' and id=#{id}
	</update>
	
	<!-- 根据moduleNo查询是否存在测试数据 -->
	<select id="isExistTestByModuleNo" resultType="Integer">
		select count(*) from qdsProductTest where qdsProCategoryId=#{qdsProCategoryId} and moduleNo=#{moduleNo}
	</select>
</mapper>