<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foxboro.dao.qds.ProductAssyDao">
	
	<!-- 按条件查询QDS装配产品 -->
	<select id="getQProAssy" resultType="QdsProductAssy" parameterType="QdsProductAssy">
		SELECT *,(SELECT realname FROM users WHERE id=q.assyBy) AS realname,(select realname from users where id=q.assyModifyBy) AS modifyName FROM qdsProductAssy q WHERE 1=1
		<if test="moduleNo!=null and moduleNo!=''">and q.moduleNo like concat ('%',#{moduleNo},'%')</if>
		<if test="assyNo!=null and assyNo!=''">and q.assyNo like concat ('%',#{assyNo},'%')</if>
		<if test="realname!=null and realname!=''">AND q.assyBy IN (SELECT id FROM users WHERE realname LIKE CONCAT ('%',#{realname},'%'))</if>
		<if test="dateStart!=null and dateEnd!=null and dateStart!='' and dateEnd!=''">
		and DATE_FORMAT(q.assyTime,'%Y-%m-%d') BETWEEN #{dateStart} AND #{dateEnd}
		</if>
		and q.qdsProCategoryId=(select id from qdsProCategory where qdsProCategoryName=#{qdsProCategoryName}) 
		order by id desc limit #{beginNo},#{pageSize}
	</select>
	
	<!-- 按条件查询QDS装配产品总数 -->
	<select id="getQProAssyCount" resultType="int" parameterType="QdsProductAssy">
		select count(*) from qdsProductAssy q where 1=1
		<if test="moduleNo!=null and moduleNo!=''">and q.moduleNo like concat ('%',#{moduleNo},'%')</if>
		<if test="assyNo!=null and assyNo!=''">and q.assyNo like concat ('%',#{assyNo},'%')</if>
		<if test="realname!=null and realname!=''">AND q.assyBy IN (SELECT id FROM users WHERE realname LIKE CONCAT ('%',#{realname},'%'))</if>
		<if test="dateStart!=null and dateEnd!=null and dateStart!='' and dateEnd!=''">
		and DATE_FORMAT(q.assyTime,'%Y-%m-%d') BETWEEN #{dateStart} AND #{dateEnd}
		</if>
		and q.qdsProCategoryId=(select id from qdsProCategory where qdsProCategoryName=#{qdsProCategoryName}) 
	</select>
	
	<!-- 获取所有装配产品记录ASC -->
	<select id="getQProAssyAsc" resultType="QdsProductAssy">
		SELECT *,(SELECT realname FROM users WHERE id=q.assyBy) AS realname,(select realname from users where id=q.assyModifyBy) AS modifyName FROM qdsProductAssy q 
		WHERE q.qdsProCategoryId=(select id from qdsProCategory where qdsProCategoryName=#{qdsProCategoryName} )
		order by assyTime limit #{beginNo},#{pageSize}
	</select>
	
	<!-- 查询数据是否存在 -->
	<select id="getAssyDataIsExsit" parameterType="QdsProductAssy" resultType="int">
		SELECT COUNT(*) FROM qdsProductAssy WHERE moduleNo=#{moduleNo} OR assyNo=#{assyNo}
	</select>
	
	<!-- 新增装配数据 -->
	<insert id="addAssyData" parameterType="QdsProductAssy">
		insert into qdsProductAssy value (null,#{moduleNo},#{assyNo},now(),#{assyBy},null,null,#{qdsProCategoryId})
	</insert>
	
	<!-- 按id删除装配数据 -->
	<delete id="delAssyDataById" parameterType="int">
		delete from qdsProductAssy where id=#{id}
	</delete>
	
	<!-- 按id查询单个装配数据 -->
	<select id="getAssyDataById" parameterType="int" resultType="QdsProductAssy">
		select * from qdsProductAssy where id=#{id}
	</select>
	
	<!-- 更新装配数据 -->
	<update id="updateProductAssy" parameterType="QdsProductAssy">
		update qdsProductAssy set moduleNo=#{moduleNo},assyNo=#{assyNo},assyModifyTime=now(),assyModifyBy=#{assyModifyBy}
		where id=#{id}
	</update>
	
	<!-- 按moduleNo查询QDS装配产品的单板个数 -->
	<select id="getQProAssyCountByModuleNo" resultType="int">
		SELECT COUNT(*) FROM qdsProductAssy WHERE moduleNo=#{moduleNo} and qdsProCategoryId=#{qdsProCategoryId}
	</select>
	
	<!-- 按moduleNo查询对应的assyNo -->
	<select id="getAssyNoByModuleNo" resultType="String">
		select assyNo from qdsProductAssy where moduleNo=#{moduleNo} and qdsProCategoryId=#{qdsProCategoryId}
	</select>
</mapper>