.daterange i {
	position: absolute;
	bottom: 10px;
	right: -120px;
	top: auto;
	cursor: pointer;
}

.daterange {
	position: relative;
}

#input_mask input{
	width:200px;
	text-transform: uppercase;
}
